body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

body {
  background: url('../public/gtr1.jpg') no-repeat center center fixed;
  background-size: cover;
  color: white;
  width: 100%;
}

div#root {
  width: 100%;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  flex: 1;
  text-align: center;
  width: 100%;
  margin-top: 20px;
}

.nav-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0 20px;
  box-sizing: border-box;
  position: relative;
  margin-top: 20px; /* Add space at the top of the nav bar */
}

.nav-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 15px;
  transition: background-color 0.3s ease;
}

.nav-container:hover {
  background: rgba(0, 0, 0, 0.7);
}

.nav-links {
  display: flex;
  justify-content: center;
}

.auth-container {
  position: absolute;
  right: 20px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 15px;
  transition: background-color 0.3s ease;
}

.auth-container:hover {
  background: rgba(0, 0, 0, 0.7);
}

.nav-links, .auth-links {
  display: flex;
  align-items: center;
}

.nav-link {
  margin-right: 20px;
  color: white;
  text-decoration: none;
  display: inline-block;
  padding: 10px 15px;
  border-radius: 10px;
}

.nav-links .nav-link:last-child, .auth-links .nav-link:last-child {
  margin-right: 0;
}

.nav-link:hover {
  background-color: rgba(255, 255, 255, 0.2);
  transition: background-color 0.3s ease;
}

/* Add styles for the logout button */
.logout-button {
  background-color: #333; /* Dark grey background */
  border: none;
  padding: 10px 15px;
  border-radius: 10px;
  color: white;
  cursor: pointer;
}

.logout-button:hover {
  background-color: rgba(255, 255, 255, 0.2); /* Lighten background on hover */
  transition: background-color 0.3s ease;
}

.red-background {
  background-color: rgba(255, 0, 0, 0.5);
  padding: 10px;
  border-radius: 5px;
  color: white;
  width: 70%;
  max-width: 600px;
  text-align: center;
  margin: 20px auto;
}

.footer {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  text-align: center;
  padding: 10px 0;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

@media (max-width: 600px) {
  .footer {
    font-size: 14px;
    padding: 8px 0;
  }
}

@media (min-width: 600px) and (max-width: 1200px) {
  .footer {
    font-size: 16px;
    padding: 10px 0;
  }
}

@media (min-width: 1200px) {
  .footer {
    font-size: 18px;
    padding: 12px 0;
  }
}

.recent-activity-container {
  background-color: rgba(255, 255, 255, 0.8); /* Adjust the alpha value to control transparency */
  color: black;
  padding: 20px; /* Reduce padding */
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  position: relative; /* Change to relative */
  margin-top: 20px; /* Add top margin */
  width: 70%;
  max-width: 600px;
  text-align: center;
  box-sizing: border-box;
}

.recent-activity-container h2 {
  margin-top: 0;
  color: #333;
  text-align: center; /* Center the title */
}

.recent-activity-container ul {
  list-style-type: none;
  padding: 0;
}

.recent-activity-container li {
  margin: 10px 0;
  color: #555;
}

.clear-button {
  background-color: #f44336; /* Red background */
  color: white; /* White text */
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px; /* Add space at the top */
}

.clear-button:hover {
  background-color: #d32f2f; /* Darker red on hover */
  transition: background-color 0.3s ease;
}

/* Additional CSS to center the box vertically */
.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

/* Media queries for smaller screens */
@media (max-width: 768px) {
  .recent-activity-container {
    width: 90%; /* Increase width for smaller screens */
    padding: 10px; /* Adjust padding for smaller screens */
    margin-top: 50px; /* Adjust margin-top for spacing */
  }

  .red-background {
    width: 90%; /* Increase width for smaller screens */
    padding: 10px;
  }
}
